<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AniCritique</title>
</head>
<link rel="stylesheet" href="/css/anime.css">
<body>
    <header>
        <nav>
            <div class="menu">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png">AniCritique
                    </a>
                </div>
                <ul>
                    <li><a href="#">Anime</a></li>
                    <li><a href="#">Cartoon</a></li>
                    <li><a href="#">Movie</a></li>
                </ul>
            </div>
        </nav>
    </header>

<br>

<div class="container">
    <div class="anime">
        <table>
            <tr>
                <td class="basic">
                    <div><img class="anipic" src="{{ curAnime.image }}"></div>
                </td>
                <td class="desc">
                    <h1 class="title">{{ curAnime.jp_title }} - {{ curAnime.en_title }}</h1>

                    <hr>

                    <div style="display: flex; justify-content: space-between">
                        <h4>REVIEWS</h4>
                    </div>

                    <div id="new-rev">
                        <div class="review">
                            <h5>Write a Review!</h5>
                            <hr>
                            <form action="/editRev/{{ curRev._id }}" method="post" id="review-form" onsubmit="return validateReviewForm(event)">
                                <select id="mySelect" name="score" selected="{{ curRev.score }}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                    
                                <span>⭐</span>
                                
                                <br><br>
                                
                                <input type="text" id="title" name="title" value="{{ curRev.title }}" placeholder="{{ curRev.title }}">
                                
                                <br><br>
                                
                                <textarea id="description" name="description" value="{{ curRev.content }}" placeholder="{{ curRev.content }}"></textarea>
                                
                                <br>
                                
                                <button type="submit">Post!</button>
                                <button type="reset">Cancel</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="/js/stuff.js"></script>
</body>
</html>